/ExpenseAPI/.vs/*
/ExpenseAPI/packages/*
/ExpenseAPI/Expense.API/bin/*
/ExpenseAPI/Expense.API/obj/*
/ExpenseAPI/Expense.Common/obj/*
/ExpenseAPI/Expense.Common/bin/*
/ExpenseAPI/Expense.Entities/obj/*
/ExpenseAPI/Expense.Entities/bin/*
/ExpenseAPI/Expense.Repositories/obj/*
/ExpenseAPI/Expense.Repositories/bin/*
/ExpenseAPI/Expense.Repositories.Interfaces/bin/*
/ExpenseAPI/Expense.Repositories.Interfaces/obj/*
/ExpenseAPI/Expense.DTO/bin/*
/ExpenseAPI/Expense.DTO/obj/*
/ExpenseAPI/Expense.Services/obj/*
/ExpenseAPI/Expense.Services/bin/*
/ExpenseAPI/Expense.Services.Interfaces/obj/*
/ExpenseAPI/Expense.Services.Interfaces/bin/*
/ExpenseAPI/Expense.CommandHandlers/bin/*
/ExpenseAPI/Expense.CommandHandlers/obj/*
/ExpenseAPI/Expense.QueryHandlers/obj/*
/ExpenseAPI/Expense.QueryHandlers/bin/*
/ExpenseAPI/Expense.Queries/bin/*
/ExpenseAPI/Expense.Queries/obj/*
/ExpenseAPI/Expense.Commands/obj/*
/ExpenseAPI/Expense.Commands/bin/*
/ExpenseAPI/Expense.Tests/bin/*
/ExpenseAPI/Expense.Tests/obj/*